<!-- REFERENCES:
1. https://www.convertjson.com/json-to-html-table.htm 
2. https://mdbootstrap.com/docs/b4/jquery/tables/search/ -->

<!DOCTYPE html>
<html lang="en">

<!-- header from partials/ -->
<%- include ('partials/header.ejs') -%>

    <!--  ----------------------------------LOGO------------------------------------------- -->
    <section class="description">
        <img src="img/plasmoVis_logo.png">
    </section>

    <!--  ----------------------------------MAP------------------------------------------- -->
    <div style="
    height: 100%;">
        <!-- include AnyChart partial (Malaysia map)-->
        <br><br><br>
        <%- include ('partials/map_PM.ejs') -%>
    </div>


    <!--  ----------------------------------DESC------------------------------------------- -->
    <section class="description">
        <p>Dataset Overview (P. knowlesi)</p>
        <div class="igv_btn">
            <a href="/igv_pm20">GO BACK TO GENOME BROWSWER</a>
        </div>

        <div class="row">
            <!--  ---------------------------------- Location - using partials ------------------------------------------- -->
            <div class="col_one">
                <h3>Sample Location</h3>
                <p>Sample counts based on country of origin</p><br>

                <%- include ('partials/chart_PM_locations_countries.ejs') -%>
            </div>

            <!--  ---------------------------------- Groups - using iframe ------------------------------------------- -->
            <div class="col_two" style="width:40%;">
                <h3>Groups</h3>
                <p>Samples grouped based on their continent of origin</p>
                <iframe src="http://localhost:3000/chart_PM_groups" scrolling="no" frameBorder="0"
                    style=" width: 100%; height: 30%;  overflow: hidden;"></iframe><br>
                <p></p>Click on the legend on the right to hide/show groups. <br>
            </div>
        </div>

        <h3>Sample Search</h3>
        <p>Samples can be searched by ID, location or year using the search bar below</p>


    </section>


    <!--  ----------------------------------Table------------------------------------------- -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <body>
        <!-- table from partials/ -->

        <div class="row justify-content-center">
            <table id="metadataTable" class="table table-striped table-bordered table-sm table-hover">

                <%- include ('partials/table_PM_metadata.ejs') -%>
            </table>

        </div>


        <!-- https://getbootstrap.com/docs/4.1/getting-started/introduction/ -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


        <script src=" https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#metadataTable').DataTable();
                //$('.dataTables_length').addClass('bs-select');
            });
        </script>
    </body>

    <!-- footer from partials/ -->
    <%- include ('partials/footer.ejs') -%>

</html>